<section class="section catalog" id="catalog">
  <div class="container cont-2">
    <h2 class="cataloge-title">Catalog</h2>
    <ul class="cataloge-item">
      <!-- one====================== -->
      <li class="cataloge-list">
        <picture class="cataloge-img">
          <source
            srcset="
              ./img/catalog/dek/dekonew2x.jpg 2x,
              ./img/catalog/dek/dekonew1x.jpg 1x
            "
            width="292"
            height="292"
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/catalog/tab/tabonew2x.jpg     2x,
              ./img/catalog/tab/tabonew1x.jpg 1x
            "
            width="268"
            height="292"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/catalog/mob/mobone2x.jpg          2x,
              ./img/catalog/mob/mobonewatch1x.jpg 1x
            "
            width="208"
            height="226"
            media="(min-width:320px)"
          />
          <img
            src="./img/catalog/dek/dekonew1x.jpg"
            alt="Garmin Fenix 7X"
            width="292"
          />
        </picture>

        <div class="cont-cataloge">
          <h3 class="img-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="img-subtitle">€500</p>
        </div>
      </li>
      <!-- two=================== -->
      <li class="cataloge-list">
        <picture class="cataloge-img">
          <source
            srcset="
              ./img/catalog/dek/dektwow2x.jpg 2x,
              ./img/catalog/dek/dektwow1x.jpg 1x
            "
            width="292"
            height="292"
            media="(min-width:1280px)"
          />
   <source
srcset="
              ./img/catalog/tab/tabtwow2x.jpg     2x,
              ./src/img/catalog/tab/tabtwow1x.jpg 1x
            "
            width="268"
            height="292"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/catalog/mob/mobtwow2x.jpg 2x,
              ./img/catalog/mob/mobtwo1x.jpg 1x
            "
            width="208"
            height="226"
            media="(min-width:320px)"
          />
          <img
            src="./src/img/catalog/mob/mobtwo1x.jpg"
            alt="Garmin Marq"
            width="292"
          />
        </picture>
        <div class="cont-cataloge">
          <h3 class="img-title">Garmin Marq Athlete</h3>
          <p class="img-subtitle">€450</p>
        </div>
      </li>
      <!-- three============================ -->
      <li class="cataloge-list">
        <picture class="cataloge-img">
          <source
            srcset="
              ./img/catalog/dek/dekthreew2x..jpg 2x,
              ./img/catalog/dek/dekthreew1x.jpg  1x
            "
            width="292"
            height="292"
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/catalog/tab/tabthre2x.jpg     2x,
              ./src/img/catalog/tab/tabthre1x.jpg 1x
            "
            width="268"
            height="292"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/catalog/mob/mobtheew2x.jpg  2x,
              ./img/catalog/mob/mobthreew1x.jpg 1x
            "
            width="208"
            height="226"
            media="(min-width:320px)"
          />
          <img
            src="./src/img/catalog/dek/dekthreew1x.jpg"
            alt="Garmin Descent"
            width="292"
          />
        </picture>
        <div class="cont-cataloge">
          <h3 class="img-title">Garmin Descent MK1</h3>
          <p class="img-subtitle">€680</p>
        </div>
      </li>
      <!-- four======================== -->
      <li class="cataloge-list">
        <picture class="cataloge-img">
          <source
            srcset="
              ./img/catalog/dek/dekfourw2x.jpg  2x,
              ./img/catalog/dek/dekfourw1x.jpg 1x
            "
            width="292"
            height="292"
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/catalog/tab/tabfourw2x.jpg     2x,
              ./img/catalog/tab/tabfourw1x.jpg 1x
            "
            width="268"
            height="292"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/catalog/mob/mobwatchfour2x.jpg     2x,
              ./img/catalog/mob/mobwatchfour1x.jpg 1x
            "
            width="208"
            height="226"
            media="(min-width:320px)"
          />
          <img
            src="./img/catalog/dek/dekfourw1x.jpg"
            alt="Garmin D2"
            width="292"
          />
        </picture>
        <div class="cont-cataloge">
          <h3 class="img-title">Garmin D2 Delta PX</h3>
          <p class="img-subtitle">€380</p>
        </div>
      </li>

      <!-- five++++++++++++++ -->
      <div class="no-mob">
        <li class="cataloge-list">
          <picture class="cataloge-img">
            <source
              srcset="
                ./img/catalog/dek/dekfivew2x.jpg 2x,
                ./img/catalog/dek/dekfivew1x.jpg 1x
              "
              width="292"
              height="292"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/catalog/tab/tabfivew2x.jpg 2x,
                ./img/catalog/tab/tabfivew1x.jpg 1x
              "
              width="268"
              height="292"
              media="(min-width:768px)"
            />
            <img
              src="./img/catalog/dek/dekfivew1x.jpg"
              alt="Garmin Fenix 6"
              width="292"
            />
          </picture>
          <div class="cont-cataloge">
            <h3 class="img-title">Garmin Fenix 6 Pro Solar</h3>
            <p class="img-subtitle">€400</p>
          </div>
        </li>
        <!-- six++++++++++++++++++++++ -->
        <li class="cataloge-list">
          <picture class="cataloge-img">
            <source
              srcset="
                ./img/catalog/dek/deksixw2x.jpg  2x,
                ./img/catalog/dek/deksixw1x.jpg 1x
              "
              width="292"
              height="292"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/catalog/tab/tabsixw2x.jpg 2x,
                ./img/catalog/tab/tabsixw1x.jpg 1x
              "
              width="268"
              height="292"
              media="(min-width:768px)"
            />
            <img
              src="./img/catalog/dek/deksixw1x.jpg"
              alt="Tube Watch"
              width="292"
            />
          </picture>
          <div class="cont-cataloge">
            <h3 class="img-title">Tube Watch S42 Date Steel With B</h3>
            <p class="img-subtitle">€395</p>
          </div>
           </div>
        </li> 
    </ul>
    <button class="botton-mob" type="button">Show more</button>
  </div>
</section>
         
          