<section class="section catalog" id="catalog">
  <div class="container cont-2">
 <h2 class="cataloge-title name-title">Catalog</h2>
<ul class="cataloge-item">
      <!-- one====================== -->
      <li class="cataloge-list">
        <picture class="cataloge-img">
          <source
            srcset="
              ./img/catalog/dek/dekonew2x.png 2x,
              ./img/catalog/dek/dekonew1x.png 1x
            "
            width="292"
            height="292"
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/catalog/tablet/tabonew2x.png     2x,
              ./img/catalog/tablet/tabonew1x.png 1x
            "
            width="268"
            height="292"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/catalog/mob/mobone2x.png          2x,
              ./img/catalog/mob/mobonewatch1x.png 1x
            "
            width="208"
            height="226"
            media="(min-width:320px)"
          />
          <img
            src="./img/catalog//mob/mobonewatch1x.png"
            alt="Garmin Fenix 7X"
            width="292"
          />
        </picture>

        <div class="cont-cataloge">
          <h3 class="img-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="img-subtitle">€500</p>
        </div>
      </li>
      <!-- two=================== -->
      <li class="cataloge-list">
        <picture class="cataloge-img">
          <source
            srcset="
              ./img/catalog/dek/dektwow2x.png 2x,
              ./img/catalog/dek/dektwow1x.png 1x
            "
            width="292"
            height="292"
            media="(min-width:1280px)"
          />
   <source
srcset="
              ./img/catalog/tablet/tabtwow2x.png     2x,
              ./img/catalog/tablet/tabtwow1x.png 1x
            "
            width="268"
            height="292"
            media="(min-width:768px)"
          />
          <source
            srcset="./img/catalog/mob/mobtwo1x.png 1x,
              ./img/catalog/mob/mobtwow2x.png 2x
        
            "
            width="208"
            height="226"
            media="(min-width:320px)"
          />
          <img
            src="./img/catalog/mob/mobtwo1x.png"
            alt="Garmin Marq"
            width="292"
          />
        </picture>
        <div class="cont-cataloge">
          <h3 class="img-title">Garmin Marq Athlete</h3>
          <p class="img-subtitle">€450</p>
        </div>
      </li>
      <!-- three============================ -->
      <li class="cataloge-list">
        <picture class="cataloge-img">
          <source
            srcset="
              ./img/catalog/dek/dekthreew2x..png 2x,
              ./img/catalog/dek/dekthreew1x..png  1x       "
            width="292"
            height="292"
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/catalog/tablet/tabthre2x.png     2x,
              ./img/catalog/tablet/tabthre1x.png 1x
            "
            width="268"
            height="292"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/catalog/mob/mobtheew2x.png  2x,
              ./img/catalog/mob/mobthreew1x.png 1x
            "
            width="208"
            height="226"
            media="(min-width:320px)"
          />
          <img
            src="./img/catalog/mob/mobthreew1x.png"
            alt="Garmin Descent"
            width="292"
          />
        </picture>
        <div class="cont-cataloge">
          <h3 class="img-title">Garmin Descent MK1</h3>
          <p class="img-subtitle">€680</p>
        </div>
      </li>
      <!-- four======================== -->
      <li class="cataloge-list">
        <picture class="cataloge-img">
          <source
            srcset="
              ./img/catalog/dek/dekfourw2x.png  2x,
              ./img/catalog/dek/dekfourw1x.png 1x
            "
            width="292"
            height="292"
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/catalog/tablet/tabfourw2x.png     2x,
              ./img/catalog/tablet/tabfourw1x.png 1x
            "
            width="268"
            height="292"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/catalog/mob/mobwatchfour2x.png     2x,
              ./img/catalog/mob/mobwatchfour1x.png 1x
            "
            width="208"
            height="226"
            media="(min-width:320px)"
          />
          <img
            src="./img/catalog/mob/mobwatchfour1x.png"
            alt="Garmin D2"
            width="292"
          />
        </picture>
        <div class="cont-cataloge">
          <h3 class="img-title">Garmin D2 Delta PX</h3>
          <p class="img-subtitle">€380</p>
        </div>
      </li>

      <!-- five++++++++++++++ -->
      <div class="no-mob">
        <li class="cataloge-list">
          <picture class="cataloge-img">
            <source
              srcset="
                ./img/catalog/dek/dekfivew2x.png 2x,
                ./img/catalog/dek/dekfivew1x.png 1x
              "
              width="292"
              height="292"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/catalog/tablet/tabfivew2x.png 2x,
                ./img/catalog/tablet/tabfivew1x.png 1x
              "
              width="268"
              height="292"
              media="(min-width:768px)"
            />
            <img
              src="./img/catalog/dek/dekfivew1x.png"
              alt="Garmin Fenix 6"
              width="292"
            />
          </picture>
          <div class="cont-cataloge">
            <h3 class="img-title">Garmin Fenix 6 Pro Solar</h3>
            <p class="img-subtitle">€400</p>
          </div>
        </li>
        <!-- six++++++++++++++++++++++ -->
        <li class="cataloge-list">
          <picture class="cataloge-img">
            <source
              srcset="
                ./img/catalog/dek/deksixw2x.png  2x,
                ./img/catalog/dek/deksixw1x.png 1x
              "
              width="292"
              height="292"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/catalog/tablet/tabsixw2x.png 2x,
                ./img/catalog/tablet/tabsixw1x.png 1x
              "
              width="268"
              height="292"
              media="(min-width:768px)"
            />
            <img
              src="./img/catalog/dek/deksixw1x.png"
              alt="Tube Watch"
              width="292"
            />
          </picture>
          <div class="cont-cataloge">
            <h3 class="img-title">Tube Watch S42 Date Steel With Black Case</h3>
            <p class="img-subtitle">€395</p>
          </div>
          </li> 
    </ul>
  </div>
   </div>
    <button class="botton-mob" type="button">Show more</button>
 
</section>
         
          