<footer class="footer" id="footer">
  <div class="container">
    <!-- <div class="footer-box"> -->
    <div class="footer-social-box">
      <div class="footer-social">
        <a href="" class="footer-logo">watchcharm</a>
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="footer-social-link"
              target="_blank"
              ><svg class="footer-social-icon" width="20" height="20">
                <use href="../img/icons.svg#facebook"></use></svg
            ></a>
          </li>
          <li class="footer-social-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="footer-social-link"
              target="_blank"
              ><svg class="footer-social-icon" width="20" height="20">
                <use href="../img/icons.svg#insta"></use></svg
            ></a>
          </li>
          <li class="footer-social-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="footer-social-link"
              target="_blank"
              ><svg class="footer-social-icon" width="20" height="20">
                <use href="../img/icons.svg#youtube"></use></svg
            ></a>
          </li>
        </ul>
      </div>
      <address class="footer-adress-tel">
        <a href="tel:+380684439426" class="footer-adress-link"
          >+380 (68) 443-94-26</a
        >
      </address>
    </div>
    <p class="footer-title">
      Have the time of your life with our watches: where high-class
      craftsmanship meets impeccable design
    </p>

    <div class="footer-nav-box">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a href="#home" class="footer-nav-link">Home</a>
        </li>
        <li class="footer-nav-item">
          <a href="#about-us" class="footer-nav-link">About Us</a>
        </li>
        <li class="footer-nav-item">
          <a href="#catalog" class="footer-nav-link">Catalog</a>
        </li>
        <li class="footer-nav-item">
          <a href="#sale" class="footer-nav-link">Sale</a>
        </li>
        <li class="footer-nav-item">
          <a href="#reviews" class="footer-nav-link">Reviews</a>
        </li>
        <li class="footer-nav-item">
          <a href="#contact-us" class="footer-nav-link">Contact Us</a>
        </li>
      </ul>
      <address class="footer-adress-location">
        <a
          href="https://maps.app.goo.gl/xNfW53zp9pvarTm87"
          class="footer-location-link"
          target="_blank"
          >1678 S. Pioneer Road Salt Lake City UT 84104</a
        >
      </address>
    </div>
    <!-- </div> -->
    <div class="footer-privacy-box">
      <p class="footer-privacy-text">
        ©2024 The Watch Spot. All rights reserved.
      </p>
      <ul class="footer-privacy-list">
        <li class="footer-privacy-item">
          <a href="" class="footer-privacy-link">Terms of Service</a>
        </li>
        <li class="footer-privacy-item">
          <a href="" class="footer-privacy-link">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
