<section id="home" class="hero">
  <div class="container hero-container">
    <div class="hero-list">
      <div class="hero-list-text">
        <h1 class="title">
          Welcome to our <span class="title-span">collection</span> of premium
          watches
        </h1>
        <p class="name-text hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-scroll">
        <picture>
          <source
            srcset="
              ./img/img-hero/team-desc-1x.png 1x,
              ./img/img-hero/team-desc-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/img-hero/team-tab-1x.png 1x,
              ./img/img-hero/team-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/img-hero/team-mob-1x.png 1x,
              ./img/img-hero/team-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/img-hero/team-mob-2x.png 2x"
            alt="team photo"
            width="100%"
          />
        </picture>
        <a class="hero-link" href="#footer">Scroll down</a>
      </div>
    </div>
    <picture>
      <source
        srcset="
          ./img/img-hero/hero-desc-1x.png 1x,
          ./img/img-hero/hero-desc-2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/img-hero/hero-tab-1x.png 1x,
          ./img/img-hero/hero-tab-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/img-hero/hero-mob-1x.png 1x,
          ./img/img-hero/hero-mob-2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="hero-board"
        src="./img/img-hero/hero-mob-1x.png 1x"
        alt="Rectangle"
        width="100%"
      />
    </picture>
  </div>
</section>
