<section id="reviews" class="section reviews">
  <div class="container">
    <h2 class="name-title">Reviews</h2>
    <ul class="review-lists">
      <li class="review-items">
        <img
          class="review-img"
          srcset="
            ./img/review-img/JohnWax@1x-min.jpg 1x,
            ./img/review-img/JohnWax@2x-min.jpg 2x
          "
          src="./img/review-img/JohnWax@1x-min.jpg"
          alt="John Wax"
          width="56"
        />
        <div class="review-inform">
          <h3 class="review-subtitles">John Wax</h3>
          <p class="name-text">
            Buying a watch from was the best choice for me. The design is
            perfectly combined with high quality materials. The strap fits
            nicely on the hand, and the mechanism works flawlessly.
          </p>
        </div>
      </li>
      <li class="review-items">
        <img
          class="review-img"
          srcset="
            ./img/review-img/VictoriaRomashenko@1x-min.jpg 1x,
            ./img/review-img/VictoriaRomashenko@2x-min.jpg 2x
          "
          src="./img/review-img/VictoriaRomashenko@1x-min.jpg"
          alt="Victoria Romashenko"
          width="56"
        />
        <div class="review-inform">
          <h3 class="review-subtitles">Victoria Romashenko</h3>
          <p class="name-text">
            Can't take my eyes off my watch from. Every time I put it on, it is
            admired by those around me. The build quality and attention to
            detail make it a real gem among my accessories.
          </p>
        </div>
      </li>
      <li class="review-items">
        <img
          class="review-img"
          srcset="
            ./img/review-img/AnastasiaTrachuk@1x-min.jpg 1x,
            ./img/review-img/AnastasiaTrachuk@2x-min.jpg 2x
          "
          src="./img/review-img/AnastasiaTrachuk@1x-min.jpg"
          alt="Anastasia Trachuk"
          width="56"
        />
        <div class="review-inform">
          <h3 class="review-subtitles">Anastasia Trachuk</h3>
          <p class="name-text">
            My watch from is a real masterpiece. Every detail impresses with the
            high quality of execution. Special features like [specify features]
            make it an indispensable companion in my daily life.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
