<section class="section sale" id="sale">
  <div class="container">
    <div class="sale-list">
      <h2 class="sale-title name-title">Sale</h2>
      <div class="sail-box">
        <div class="sale-watch-box">
          <ul class="sale-foto-list">
            <li class="sale-foto-item">
              <picture class="sale-item-img"
                ><source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/sale-img/sale-watch-mob-1.png    1x,
                    ./img/sale-img/sale-watch-mob-1@2x.png 2x
                  " />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/sale-img/sale-watch-tab-1.png    1x,
                    ./img/sale-img/sale-watch-tab-1@2x.png 2x
                  " />

                <img
                  class="sale-item-photo"
                  src="./img/sale-img/sale-watch-mob-1.png"
                  alt="display of watch with stelth mode"
              /></picture>
            </li>
            <li class="sale-foto-item">
              <picture class="sale-item-img"
                ><source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/sale-img/sale-watch-mob-2.png    1x,
                    ./img/sale-img/sale-watch-mob-2@2x.png 2x
                  " />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/sale-img/sale-watch-tab-2.png    1x,
                    ./img/sale-img/sale-watch-tab-2@2x.png 2x
                  " />

                <img
                  class="sale-item-photo"
                  src="./img/sale-img/sale-watch-mob-2.png"
                  alt="display of watch with stelth mode"
              /></picture>
            </li>
            <li class="sale-foto-item">
              <picture class="sale-item-img"
                ><source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/sale-img/sale-watch-mob-3.png    1x,
                    ./img/sale-img/sale-watch-mob-3@2x.png 2x
                  " />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/sale-img/sale-watch-tab-3.png    1x,
                    ./img/sale-img/sale-watch-tab-3@2x.png 2x
                  " />

                <img
                  class="sale-item-photo"
                  src="./img/sale-img/sale-watch-mob-3.png"
                  alt="display of watch with stelth mode"
              /></picture>
            </li>
            <li class="sale-foto-item">
              <picture class="sale-item-img"
                ><source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/sale-img/sale-watch-mob-4.png    1x,
                    ./img/sale-img/sale-watch-mob-4@2x.png 2x
                  " />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/sale-img/sale-watch-tab-4.png    1x,
                    ./img/sale-img/sale-watch-tab-4@2x.png 2x
                  " />

                <img
                  class="sale-item-photo"
                  src="./img/sale-img/sale-watch-mob-4.png"
                  alt="display of watch with stelth mode"
              /></picture>
            </li>
          </ul>
          <div class="sale-main-foto-box">
            <picture class="sale-main-img"
              ><source
                media="(max-width: 767px)"
                srcset="
                  ./img/sale-img/sale-main-watch-mob.png    1x,
                  ./img/sale-img/sale-main-watch-mob@2x.png 2x
                " />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/sale-img/sale-main-watch-tab.png    1x,
                  ./img/sale-img/sale-main-watch-tab@2x.png 2x
                " />
              <img
                class="sale-main-photo"
                src="./img/sale-img/sale-main-watch-mob.png"
                alt="display of watch with stelth mode"
            /></picture>
          </div>
        </div>
        <div class="sale-comander">
          <h3 class="sale-comander-title">
            MARQ® Commander (Gen 2) - Carbon Edition
          </h3>
          <span class="sale-comander-prod">Product tag: 706587</span>
          <div class="comander-price-box">
            <span class="sale-comander-sale">€1500</span>
            <span class="sale-comander-price">€3000</span>
          </div>
          <p class="sale-comander-text">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
            smartwatch for adventurers that takes materials and features to the
            next level. The body of the watch is made of very durable Fused
            Carbon Fiber material and has a precise AMOLED touch screen. The
            sensitive touch screen is complemented by buttons that can be used
            in any conditions.
          </p>
          <ul class="sale-comander-list">
            <li class="sale-comander-item">
              <p class="sale-comander-item-text">Fused carbon fiber</p>
            </li>
            <li class="sale-comander-item">
              <p class="sale-comander-item-text">Grade-5 Titanuim</p>
            </li>
            <li class="sale-comander-item">
              <p class="sale-comander-item-text">Athlete</p>
            </li>
            <li class="sale-comander-item">
              <p class="sale-comander-item-text">Golfer</p>
            </li>
            <li class="sale-comander-item">
              <p class="sale-comander-item-text">Commander</p>
            </li>
            <li class="sale-comander-item">
              <p class="sale-comander-item-text">Adventurer</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
