.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.cataloge-title {
  margin-bottom: 24px;
}
.cataloge-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cataloge-list {
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  background: #f3f3f3;
  padding: 24px 28px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay{
  /* position: relative; */
  overflow: hidden;
}

.cataloge-list:hover .text-overlay {
  transform: translateY(0%);
}



.text-overlay {
  padding: 15%;
  background-color: #f3f3f3;
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}



@media only screen and (max-width: 767px) {
  .cataloge-list:nth-last-child(-n + 2) {
    display: none;
  }
}
.cont-cataloge {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}
.img-title {
  overflow: hidden;
  color: #0c0c0c;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.32px;
}
.img-subtitle {
  color: rgba(12, 12, 12, 0.5);
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.botton-mob {
  color: #fbfbfb;
  text-align: center;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  width: 160px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #3350e9;
  display: block;
  margin: 0 auto;
}
.botton-mob:hover,
.botton-mob:focus {
  background: #1f3cd4;
}

@media screen and (min-width: 768px) {
  .cataloge-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    column-gap: 16px;
    row-gap: 32px;
  }
  .cataloge-list {
    width: calc((100% - 16px) / 2);
    padding: 24px 32px;
  }
  .img-title {
    font-size: 20px;
    letter-spacing: -0.4px;
  }

  .botton-mob {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .cataloge-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .cataloge-item {
    column-gap: 23px;
  }
  .cataloge-img {
    display: flex;
    padding: 10px 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cataloge-list {
    width: calc((100% - 46px) / 3);
    padding: 24px 30px;
  }

  .botton-mob {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .cataloge-title {
    margin-bottom: 40px;
  }
}

/* Modal-overlay */
