.contact-container {
    border-radius: 30px;
    padding: 48px 28px;
    background: #f3f3f3;
    margin-bottom: 20px;
}

.contact-all {
    margin-top: 24px;
}

.contact-title-cont {
    margin-bottom: 28px;
}

.contact-input-cont {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 28px;
}

.contact-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: #0c0c0c;
}

.contact-input {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    width: 100%;
    height: 42px;
    background: #f3f3f3;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 14px;
}

.contact-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: #0c0c0c;
}

.contact-text {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    width: 100%;
    height: 84px;
    background: #f3f3f3;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 12px;
    padding-left: 14px;
}

.contact-text::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: #0c0c0c;
}

.contact-input:hover,
.contact-input:focus,
.contact-text:focus,
.contact-text:hover {
    border: 1px solid #3350e9;
}

.button-contact {
    border-radius: 16px;
    width: 134px;
    height: 42px;
    background: #3350e9;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #fbfbfb;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-contact:hover,
.button-contact:focus {
    background: #1f3cd4;
}

.contact-img {
    width: 100%;
    border-radius: 30px;
}

@media screen and (min-width: 768px) {

    .contact-container {
        border-radius: 50px;
        padding: 50px 122px;
        margin-bottom: 40px;
    }

    .contact-all {
        margin-top: 40px;
    }

    .contact-title-cont {
        margin-bottom: 32px;
    }

    .contact-input-cont {
        margin-bottom: 32px;
    }

    .contact-input {
        height: 52px;
        padding-left: 16px;
    }

    .contact-input::placeholder {
        font-size: 16px;
        line-height: 1.25;
    }

    .contact-text {
        height: 90px;
        padding-top: 16px;
        padding-left: 16px;
    }

    .contact-text::placeholder {
        font-size: 16px;
        line-height: 1.25;
    }

    .button-contact {
        width: 160px;
        height: 52px;
    }

    .contact-img {
        border-radius: 50px;
    }
}

@media screen and (min-width: 1280px) {

    .contact-all {
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    
    .contact-container {
        padding: 50px 60px;
        margin-bottom: 0;
        width: 580px;
    }
    
    .contact-img {
        width: 530px;
    }
}