.footer {
  padding: 0 20px 20px 20px;
}

.container {
}

.footer > .container {
  background-color: #0c0c0c;
  padding: 40px 28px 28px 28px;
  border-radius: 30px;
  color: #fbfbfb;
}

.footer-social-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.footer-social {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.footer-logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.footer-social-list {
  display: flex;
  gap: 10px;
}
.footer-social-item {
}
.footer-social-link {
  width: 34px;
  height: 34px;
  border: 1px solid rgba(251, 251, 251, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: rgba(251, 251, 251, 0.6);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress-tel {
}

.footer-adress-link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  padding: 14px 20px;
  max-width: 160px;
  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 92px;
}

.footer-nav-box {
  display: flex;
  justify-content: space-between;
}

.footer-nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px 16px;
  width: 147px;
}
.footer-nav-item {
}
.footer-nav-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #fbfbfb;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress-location {
  width: 83px;
  font-style: normal;
}

.footer-location-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #fbfbfb;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-privacy-box {
  position: relative;
  margin-top: 48px;
}
.footer-privacy-text {
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 8px;
}
.footer-privacy-list {
  display: flex;
  gap: 20px;
}
.footer-privacy-item {
}
.footer-privacy-link {
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  display: block;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-privacy-box::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(251, 251, 251, 0.1);
  display: block;
  position: absolute;
  top: -24px;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: rgba(251, 251, 251, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  border-color: rgba(251, 251, 251, 1);
}

.footer-adress-link:hover,
.footer-adress-link:focus {
  border-color: rgba(251, 251, 251, 1);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #3350e9;
}

.footer-location-link:hover,
.footer-location-link:focus {
  color: #3350e9;
}

.footer-privacy-link:hover,
.footer-privacy-link:focus {
  color: #3350e9;
}

/* -----------------Tablet---------------------- */

@media screen and (min-width: 768px) {
  .footer {
    padding: 0 32px 32px 32px;
  }

  .footer > .container {
    padding: 40px 40px 28px 40px;
  }

  .footer-social-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 86px;
  }

  .footer-logo {
    font-size: 20px;
  }

  .footer-adress-link {
    font-size: 14px;
    line-height: 129%;
    padding: 14px;
  }

  .footer-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 114%;
    width: 524px;
    margin: 0 auto;
  }

  .footer-nav-box {
    margin-top: 100px;
  }

  .footer-nav-list {
    width: 400px;
    gap: 19px;
  }

  .footer-nav-link {
    font-size: 14px;
    line-height: 129%;
  }

  .footer-adress-location {
    width: 162px;
  }

  .footer-location-link {
    font-size: 14px;
    line-height: 129%;
  }

  .footer-privacy-box {
    margin-top: 56px;
  }

  .footer-privacy-text {
    font-size: 14px;
    line-height: 129%;
  }

  .footer-privacy-link {
    font-size: 14px;
    line-height: 129%;
  }

  .footer-privacy-box::before {
    top: -28px;
  }

  .footer-privacy-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-privacy-text {
    margin: 0;
  }
}

/* --------------------------------------- */

/* ------------------Desktop--------------------- */

@media screen and (min-width: 1280px) {
  .footer > .container {
    position: relative;
  }

  .footer-title {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* --------------------------------------- */
