.review-img {
  border-radius: 56px;
}
.review-lists {
  display: flex;
  flex-direction: row;
  gap: 16px;
  max-width: 335px;
  max-height: 270px;
  overflow: auto;
}
.review-items {
  display: flex;
  box-sizing: border-box;
  min-width: 335px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 32px 36px;
  border-radius: 30px;
  background: #f3f3f3;
  transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.review-items:hover {
  background: #e4e1e1;
}

@media screen and (min-width: 768px) {
  .review-lists {
    display: flex;
    flex-direction: row;
    max-width: 704px;
    min-height: 272px;
    gap: 16px;
  }
  .review-items {
    min-width: 344px;
    flex-basis: calc((100% - 16px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .review-lists {
    display: flex;
    gap: 20px;
    /* overflow: visible; */
    max-width: 1150px;
  }
  .review-items {
    max-width: 370px;
    flex-basis: calc((100% - 20px) / 3);
  }
}

.review-inform {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
  gap: 8px;
  max-width: 263px;
}
@media screen and (min-width: 768px) {
  .review-inform {
    min-width: 272px;
  }
}
@media screen and (min-width: 1280px) {
  .review-inform {
    max-width: 298px;
  }
}
.reviews .name-title {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .reviews .name-title {
    margin-bottom: 40px;
  }
}
.review-subtitles {
  color: #0c0c0c;
  text-align: center;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.32px;
}
@media screen and (min-width: 768px) {
  .review-subtitles {
    font-size: 18px;
    line-height: 19.8px;
    letter-spacing: -0.36px;
  }
}

.reviews .name-text {
  color: rgba(12, 12, 12, 0.4);
  text-align: center;
}

/* @media screen and (max-width: 767px) {
  .review-items:nth-last-child(-n+2){
    display: none;
  }
}
@media screen and (max-width: 1279px) {
  .review-items:last-child {
    display: none;
  }
} */
